<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!-- <link rel="stylesheet" media="screen" href="../css/styles.css" > -->
    <style>
        body {
            padding: 40px;
            font: 13px Helvetica, Arial, sans-serif;
            background-color:#e4e4e4;
            color: #3a3a3a;
        }
        .error {
            color: #c85534;
            background-color: #ffa786;
            border: 1px solid #c85534;
            border-radius: 3px;
            padding: 4px 5px 2px 5px;
            margin: 2px;
        }
        .success {
            color: #068013;
        }
        form label {
            width:140px;
            margin-top:3px;
            display:inline-block;
            float:left;
        }
        form input {
            height:20px;
            width:220px;
            display:inline-block;
        }
        form input[type="radio"] {
            width:20px;
        }
        form input[type="submit"] {
            margin-left:260px;
            height:30px;
            width:100px;
        }
        input[type="range"] {
            position: relative;
        }
        input[type="range"]:after,
        input[type="range"]:before {
            position: absolute;
            top: 1em;
            color: #aaa;
        }
        input[type="range"]:before {
            left:0em;
            content: attr(min);
        }
        input[type="range"]:after {
            right: 0em;
            content: attr(max);
        }
    </style>
</head>
<body>