<% var title = 'Log in' %>
<% include head %>

<h1>Log in</h1>
You don't have an account ? Sign up <a href="/register">here</a>.
<form method="post" action="/login">
    <p>
        <label>Username:</label>
        <input type="text" name="username" required>
        <%if (errorUser) { %>
        <label class="error">This user doesn't exist.</label>
        <% } %>
    </p>
    <p>
        <label>Password:</label>
        <input type="password" name="password" required>
        <%if (errorPass) { %>
        <label class="error">Wrong password.</label>
        <% } %>
    </p>
    <p>
        <input type="submit" value="Log in">
    </p>
</form>
<% include foot %>