<% var title = 'Change password' %>
<% include head %>
<script>
    validatePwd = function(e) {
        var mdp1 = document.getElementById('pwd1');
        var mdp2 = document.getElementById('pwd2');
        if (mdp1.checkValidity() && mdp1.value==mdp2.value) { document.getElementById('pwd2').setCustomValidity(''); }
        else { document.getElementById('pwd2').setCustomValidity('Passwords should not be different.'); }
    }
</script>

<h1><%= username %></h1>
<a href="/profile">Profile</a>
<a href="/changes">Settings</a>
<form method="post" action="/password">
    <p>
        <label>Old password:</label>
        <input type="password" name="password" placeholder="Type your old password" required autofocus>
        <%if (wrongPass) { %>
        <label class="error">Wrong password.</label>
        <% } %>
    </p>
    <p>
        <label>New password:</label>
        <input type="password" id="pwd1" name="password1" pattern="[a-zA-Z0-9]{4,}" title="a-zA-Z0-9 | length:4+" placeholder="Choose a new password" onkeyup="validatePwd()" required>
    </p>
    <p>
        <label>Repeat new password:</label>
        <input type="password" id="pwd2" name="password2" placeholder="Repeat password" onkeyup="validatePwd()" required>
    </p>
    <p>
        <input type="submit" value="Send changes">
    </p>
</form>
<% include foot %>